
/** top-conteiner **/

.top-container {
    height:800px;

    background-image:url("top.JPG");
    background-repeat: no-repeat; 
    background-color:#004643;
    background-size: 100%;
    opacity: 0.85;
    transition: all 1.0s;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0.8;
}

.top-container img {
    width:100%;
    height:100%;
}

.top-container:hover {
    opacity: 1.0;
}


.top-wrapper {
    opacity: 0;
    animation-name: title-show;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }

 @keyframes title-show {
    0% {
       opacity: 0;
       transform: translateY(100px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

.top-wrapper {
    width:100%;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.top-wrapper h1 {
    font-size:120px;
    letter-spacing: 2px;
}

.top-wrapper h2 {
    font-size: 35px;
    letter-spacing: 5px;
}


.message-container {
    margin-top:100px;
    font-size: 20px;
    line-height: 50px;
}

.message-container p {
    margin-bottom:50px;
    opacity:0.8
}

.message-container h2 {
    padding-bottom:25px;
}

.link-to-sosa {

    display: inline-block;
    color:white;
    font-size:25px;
    border-radius: 12px;
    transition: all 0.9s;
    text-decoration:underline;
}


/** ↑ top-wrapper ↑ **/


.middle-container {
    width:100%;
    height:1000px;
    color:white;
    background-color: #e2e0dc;
    transition: all 1.5s;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 2px;
}

.middle-container:hover {
    
    background-color:#004643;

}

.middle-wrapper {
    padding:100px;
}

.middle-wrapper h2 {
    
    font-family: 'Ubuntu', sans-serif;
    
    font-size:50px;
}


.middle-message p{
    padding-right:100px;
    padding-left:100px;
}
/** ロゴ位置 **/

.logo-container {
    
    background-color: #e2e0dc;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    width:50%;
    height:50%;
    margin:0 auto;
    transition: all 0.5s;
    
}

.logo-container img {
    margin-bottom:50px;
}

.logo-container:hover {
    box-shadow: 0 0 20px white;
}

.logo-show {
    padding-top:50px;
}
.middle-message {

    padding-top:50px;
    text-align:left;
    width:100%;
    margin:0 auto;
    font-size:20px;
    line-height: 35px;
    
}

/** bottom-wrapper **/

.bottom-container {
    background-color: black;
    color:white;
    height:800px;
    transition: all 1.0s;
}

.bottom-container:hover {
    color:black;
    background-color:#e2e0dc;
}

.bottom-container h2 {
    padding-top:100px;
    padding-bottom:100px;
    text-align: center;
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
}

.flex-container {
    font-family:'Noto Sans JP', sans-serif;
    display:flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;

}

.date {
   padding-top:25px;
   padding-bottom:25px;
}

.title {

    padding-bottom:25px;
    padding-right:25px;
    padding-left:25px;
    opacity:0.8;
    font-size:15px;

}

.flex-item {
    display: block;
    width:21%;
    margin:2%;
    height:100%;
    line-height: 35px;
    background-color:black;
    text-align: center;
    font-size: 25px;
    color:white;
    border-radius: 4px;
    transition:all 0.2s;
}

.flex-item:hover {
    transform: translate(0px,-15px);
}

.time-line {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    transition: all 1.0s;
}

.time-line h2  {
    padding-top:100px;
    font-size: 45px;
}

.time-line:hover {
    background-color: #abd1c6;
}

.sns-container {
    height:800px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.sns-container p {
    padding-bottom:25px;
}

.tiwtter-container {
    
    text-align: center;
    padding-right:100px;

}

.instagram-container {
    text-align: center;
}

